*{
    background-color: rgb(29, 30, 32);
    color: white;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header{
    display: block;
}
.name{
    display: flex;
    align-items: center;
    width: 15rem;
    justify-content: space-evenly;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav ul{
    padding: 5px !important;
    display: flex;
    
    list-style: none;
}
li{
    margin: 7px;
}
.head{
    text-align: center;
    text-decoration: underline;
}
.img{
    width: 1rem;
    height: 1rem;
}
.article{
    width: 70vw;
    margin: auto;
    height: 100vh;
}
#para{
    color: rgb(196, 196, 197);;
}
.content{
    margin: 70px;
}
footer{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.cc{
    display: flex;
    justify-content: center;
    border: 3px solid white;
    padding: 1rem;
    margin-top: auto;
}
.detail{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: auto;

}